<!-- Hero -->
<div class="overflow-hidden max-h-full h-[100vh] justify-center align-middle">

    <div class="mx-auto max-w-screen-md py-6 px-4 sm:px-6 md:max-w-screen-xl md:py-16 lg:py-10 md:px-8 h-fit">
      <div class="md:pe-8 md:w-1/2 xl:pe-0 xl:w-5/12 items-center self-center my-[20vh]">

        <div class="flex justify-center">
          <img src="/assets/img/leadman-logo.png" alt="Leadman" class="h-10 w-auto"/>
        </div>
        <app-login [(formState)]="componentState" />
      </div>
    </div>

    <img src="assets/img/banner_login.jpg" class="hidden md:block md:absolute md:top-0 md:start-1/2 md:end-0 h-full self-center bg-no-repeat object-cover bg-center">
  </div>