<form [formGroup]="form">
  <div class="flex flex-col w-full justify-center gap-y-4 align-middle ">
    <div>
      <app-input
      [control]="'email'" 
      [inputType]="'email'"
      [type]="'text'"
      [label]="'Email address'"
      [formGroup]="form" 
      [errorMessage]="getErrorMessage('email')"
    />

    <app-input-password
      [control]="'password'"
      [formGroup]="form"
      controlRepeat=""
    />

    <button type="submit" class="inline-flex w-full justify-center mt-8 items-center gap-x-3 text-center bg-gradient-to-tl from-[#7b25eb] to-[#ce6bfc] hover:from-[#8545f5] hover:to-[#7b25eb] border border-none text-white text-sm font-medium rounded-md focus:outline-none focus:ring-1 focus:ring-[#25CAEB]] py-3 px-4 dark:focus:ring-offset-gray-800" (click)="onSubmit()">Sign In</button>
  </div>
  </div>
</form>