:host {
    #main {
        display: grid;
        grid-template-rows: 10% 85%;
        height: 100vh;
        //max-height: 90vh;

        section {
            max-height: 100%;
            //overflow-x: scroll;
            overflow-y: scroll;
        }
    }
}