#snackbar {
    visibility: hidden;
    min-width: 50px;
    position: fixed;
    display: flex;
    z-index: 1;
    left: 40%;
    top: 5%;
    flex-wrap: nowrap;
    -webkit-animation: fadein 0.9s, fadeout 0.9s 4.9s;
    animation: fadein 0.9s, fadeout 0.9s 4.9s;
}

.show {
    visibility: visible !important;
    -webkit-animation: fadein 0.9s, fadeout 0.9s 4.9s;
    animation: fadein 0.9s, fadeout 0.9s 4.9s;
}

@-webkit-keyframes fadein {
    from {bottom: 60%; opacity: 0;}
    to {bottom: 80%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 60%; opacity: 0;}
    to {bottom: 80%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 80%; opacity: 1;}
    to {bottom: 60%; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 80%; opacity: 1;}
    to {bottom: 60%; opacity: 0;}
}


@media (width <= 48em) {

    #snackbar {
        left:50%;
        bottom: 80%;
    }

    @-webkit-keyframes fadein {
        from {bottom: 40%; opacity: 0;}
        to {bottom: 80%; opacity: 1;}
        
    }

    @keyframes fadein {
        from {bottom: 40%; opacity: 0;}
        to {bottom: 80%; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 80%; opacity: 1;}
        to {bottom: 40%; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 80%; opacity: 1;}
        to {bottom: 40%; opacity: 0;}
    }
        
}